@page "/gioi-thieu"
@model KoiServiceCenter.WebApp.Pages.About.AboutModel
@{
}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h1 class="text-white display-3 mb-4">
            KOI SERVICES
        </h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active text-white">Giới thiệu</li>
        </ol>
    </div>
</div>
<!-- Header End -->
<!-- Giới thiệu Start -->
<div class="container-fluid about py-3">
    <div class="container py-3">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                    <img src="img/about-koi.jpg" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7"
                style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                <h5 class="section-title px-3"><b>Về chúng tôi</b></h5>
                <h1> <span class="text-primary"><strong>Trung tâm dịch vụ cá Koi</strong></span></h1>
                <h2 class="elementor-heading-title elementor-size-default" style="font-weight: bold; color: #13357B;">
                    Chăm sóc Cá Koi từ sự tâm huyết!
                </h2>
                <p class="mb-4" style="color: black;">
                    Trung tâm dịch vụ Cá Koi của chúng tôi là điểm đến tin cậy dành
                    cho những ai đam mê
                    và yêu thích loài cá cảnh đặc biệt này. Với đội ngũ chuyên gia dày dạn kinh nghiệm và kiến thức
                    sâu sắc, chúng tôi mang đến giải pháp chăm sóc toàn diện, từ tư vấn thiết kế hồ cá, bảo trì môi
                    trường nước đến điều trị các bệnh lý thường gặp ở cá Koi.
                </p>
                <p class="mb-4" style="color: black;">
                    Chúng tôi cam kết mang đến sự chăm sóc tận tâm và chuyên nghiệp,
                    giúp cá Koi của bạn
                    luôn khỏe mạnh, sống động và duy trì vẻ đẹp tinh tế. Tại đây, bạn sẽ tìm thấy tất cả những gì
                    cần thiết để nuôi dưỡng và bảo vệ "người bạn nhỏ" của mình, từ dịch vụ phòng chống và điều trị
                    bệnh đến cung cấp thiết bị chăm sóc cao cấp.
                </p>
                <p class="mb-4" style="color: black;">
                    Chúng tôi cam kết mang đến sự chăm sóc tận tâm và chuyên nghiệp,
                    giúp cá Koi của bạn
                    luôn khỏe mạnh, sống động và duy trì vẻ đẹp tinh tế. Tại đây, bạn sẽ tìm thấy tất cả những gì
                    cần thiết để nuôi dưỡng và bảo vệ "người bạn nhỏ" của mình, từ dịch vụ phòng chống và điều trị
                    bệnh đến cung cấp thiết bị chăm sóc cao cấp.
                </p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0" style="color: black;">
                            <i class="fa fa-arrow-right text-primary me-2"></i>Chuyên
                            Gia Cá Koi Hàng
                            Đầu
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0" style="color:black">
                            <i class="fa fa-arrow-right text-primary me-2"></i>Kiểm Tra
                            Chất Lượng Nước
                            Định Kỳ
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0" style="color: black;">
                            <i class="fa fa-arrow-right text-primary me-2"></i>Phòng
                            Chống và Điều Trị
                            Bệnh Cao Cấp
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0" style="color: black;">
                            <i class="fa fa-arrow-right text-primary me-2"></i>Cung
                            Cấp Thiết Bị Cao Cấp
                            Cho Hồ Cá
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Giới thiệu End -->
<!-- thông tin bác sĩ -->
<div class="container-fluid guide py-3" style="background-color:#F8F2F2;">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3"><strong>Bác sĩ</strong></h5>
            <h1 class="mb-0"><b>Thông Tin Bác Sĩ</b></h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="guide-item">
                    <div class="guide-img">
                        <div class="guide-img-efects">
                            <img src="img/guide-1.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                        </div>
                        <div class="guide-icon rounded-pill p-2">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="guide-title text-center rounded-bottom p-4">
                        <div class="guide-title-inner">
                            <h4 class="mt-3">Bùi Tiến Vỹ</i></i></h4>
                            <p class="mb-0">Bác sĩ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="guide-item">
                    <div class="guide-img">
                        <div class="guide-img-efects">
                            <img src="img/guide-2.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                        </div>
                        <div class="guide-icon rounded-pill p-2">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="guide-title text-center rounded-bottom p-4">
                        <div class="guide-title-inner">
                            <h4 class="mt-3">Đinh Quốc Đạt</h4>
                            <p class="mb-0">Bác sĩ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="guide-item">
                    <div class="guide-img">
                        <div class="guide-img-efects">
                            <img src="img/guide-3.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                        </div>
                        <div class="guide-icon rounded-pill p-2">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="guide-title text-center rounded-bottom p-4">
                        <div class="guide-title-inner">
                            <h4 class="mt-3">Võ Cao Tấn Ngọc</h4>
                            <p class="mb-0">Bác sĩ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="guide-item">
                    <div class="guide-img">
                        <div class="guide-img-efects">
                            <img src="img/guide-4.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                        </div>
                        <div class="guide-icon rounded-pill p-2">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="guide-title text-center rounded-bottom p-4">
                        <div class="guide-title-inner">
                            <h4 class="mt-3">Huỳnh Tấn Lượng</h4>
                            <p class="mb-0">Bác sĩ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Travel Guide End -->
