@page "/tin-tuc"
@model KoiServiceCenter.WebApp.Pages.Blog.IndexModel
@{
}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h1 class="text-white display-3 mb-4">
            KOI SERVICES
        </h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/">Tin tức</a></li>
            <li class="breadcrumb-item active text-white">Liên hệ</li>
        </ol>
    </div>
</div>
<!-- Header End -->
<!-- Blog Start -->
<div class="container-fluid blog py-3" style="background-color: #f8f2f2;">
    <div class="container py-3">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3"><strong>Blog tin tức</strong></h5>
            <h1 class="mb-4"><b>Tin Tức Về Cá Koi</b></h1>
            <p class="mb-0" style="color: black;">
                Cập nhật những thông tin mới nhất về cách chăm sóc cá Koi, thiết kế
                hồ cá, và những kiến
                thức bổ ích để duy trì sức khỏe tốt nhất cho cá Koi của bạn. Đội ngũ chuyên gia sẽ mang đến cho bạn
                những bài viết chất lượng và đáng tin cậy.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="img/blog1.webp" alt="Image">
                            <div class="blog-icon">
                                <a href="/tin-tuc/cac-benh-ca-koi" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                        <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                            <small class="flex-fill text-center border-end py-2">
                                <i class="fa fa-calendar-alt text-primary me-2"></i>28 Oct 2024
                            </small>
                           
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <p class="mb-3">Biên Tập: Nhất Duy </p>
                        <a href="/tin-tuc/cac-benh-ca-koi" class="h4">Các bệnh cá Koi kèm dấu hiệu và cách phòng, chữa bệnh</a>
                        <p class="my-3">
                            Koi Services tổng hợp tất cả các bệnh phổ biến nhất cá Koi thường bị. Cung cấp đầy đủ...

                        </p>
                        <a href="/tin-tuc/cac-benh-ca-koi" class="btn btn-primary rounded-pill py-2 px-4">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="img/blog2.webp" alt="Image">
                            <div class="blog-icon">
                                <a href="/tin-tuc/huong-dan-ky-thuat-nuoi-va-cham" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                        <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                            <small class="flex-fill text-center border-end py-2">
                                <i class="fa fa-calendar-alt text-primary me-2"></i>15 Sep 2024
                            </small>                          
                            </a>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <p class="mb-3">Biên Tập: Nhất Duy </p>
                        <a href="/tin-tuc/huong-dan-ky-thuat-nuoi-va-cham" class="h4">Hướng dẫn kỹ thuật nuôi và chăm sóc cá Koi</a>
                        <p class="my-3">
                            Cá Koi có thể sống tới hơn 225 tuổi , khiến chúng trở thành động vật có xương sống sống...

                        </p>
                        <a href="/tin-tuc/huong-dan-ky-thuat-nuoi-va-cham" class="btn btn-primary rounded-pill py-2 px-4">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="img/blog3.webp" alt="Image">
                            <div class="blog-icon">
                                <a href="/tin-tuc/quy-trinh-ve-sinh-ho-ca" class="my-auto"><i class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                        <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                            <small class="flex-fill text-center border-end py-2">
                                <i class="fa fa-calendar-alt text-primary me-2"></i>13 Jan 2024
                            </small>                           
                            </a>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <p class="mb-3">Biên Tập: Nhất Duy </p>
                        <a href="/tin-tuc/quy-trinh-ve-sinh-ho-ca" class="h4">Quy trình vệ sinh hồ cá Koi chuẩn chỉ</a>
                        <p class="my-3">
                            Quy trình vệ sinh hồ cá Koi đơn giản tưởng chừng là công việc đơn giản nhưng lại vô cùng...

                        </p>
                        <a href="/tin-tuc/quy-trinh-ve-sinh-ho-ca" class="btn btn-primary rounded-pill py-2 px-4">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
<!-- Tour Booking Start -->
<div class="container-fluid booking py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h5 class="section-booking-title pe-3">Đặt lịch</h5>
                <h1 class="text-white mb-4">Đặt Lịch Trực Tuyến</h1>
                <p class="text-white mb-4">
                    Bạn đang quan tâm đến dịch vụ chăm sóc cho cá Koi? Hãy trải nghiệm sự tiện lợi với dịch vụ đặt lịch trực tuyến của chúng tôi!
                <p class="text-white mb-4">

                    Chúng tôi cung cấp các dịch vụ chuyên nghiệp bao gồm:

                <p class="text-white mb-4">
                    👉 Kiểm tra sức khỏe cá Koi
                <p class="text-white mb-4">
                    👉  Điều trị bệnh và tư vấn chăm sóc
                <p class="text-white mb-4">
                    👉 Vệ sinh, thiết kế và bảo dưỡng hồ Koi
                <p class="text-white mb-4">
                    Với đội ngũ chuyên gia giàu kinh nghiệm, chúng tôi cam kết mang lại sự hài lòng tối đa cho bạn và những chú cá Koi yêu quý của mình.
                <p class="text-white mb-4">
                    👉 Đặt lịch ngay hôm nay để được tư vấn và chọn thời gian phù hợp nhất với bạn!
                <p class="text-white mb-4">
                    📞 Hotline: 094 288 23 24
                    🌐 Website: <a href="https://localhost:7012/" style="color: aqua">Koi Services</a>
                <p class="text-white mb-4">
                    Hân hạnh được phục vụ Quý khách! ❤️❤️❤️❤️❤️

                </p>
            </div>
            <div class="col-lg-6">
                <h1 class="text-white mb-3">Đặt dịch vụ với nhiều ưu đãi lớn</h1>
                <p class="text-white mb-4">GIẢM <span class="text-warning">50%</span> với những khách hàng lần đầu đặt dịch vụ.</p>


                <div class="col-12">
                    <a href="/dich-vu/dat-lich" class="btn btn-primary text-white w-100 py-3">ĐẶT NGAY</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tour Booking End -->