@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- carousel start -->
<div class="carousel-header">
    <div id="carouselid" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselid" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselid" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselid" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="img/background2.webp" class="img-fluid" alt="image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">
                            Trung Tâm Dịch
                            Vụ Cá Koi
                        </h4>
                        <h1 class="display-2 text-capitalize text-white mb-4"> Đồng Hành Cùng Niềm Đam Mê!</h1>
                        <p class="mb-5 fs-5">
                            "Mang lại sự chăm sóc tốt nhất cho những chú cá Koi yêu quý của bạn với các dịch vụ đẳng
                            cấp."
                        </p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="#">
                                Tìm hiểu
                                thêm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/backgroundmain1.jpg" class="img-fluid" alt="image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">
                            Trung Tâm Dịch
                            Vụ Cá Koi
                        </h4>
                        <h1 class="display-2 text-capitalize text-white mb-4">
                            Đối Tác Tin Cậy Cho Đam Mê Của Bạn"
                        </h1>
                        <p class="mb-5 fs-5">
                            "Chúng tôi cam kết mang đến sự chăm sóc toàn diện và đẳng cấp cho từng chú cá Koi yêu
                            quý
                            của bạn."
                        </p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="#">
                                Tìm hiểu
                                thêm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/large_dich_vu_van_chuyen_ca_Koi_Nhat_1ee32aa18c.jpg" class="img-fluid" alt="image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">
                            Trung Tâm Dịch
                            Vụ Cá Koi
                        </h4>
                        <h1 class="display-2 text-capitalize text-white mb-4">
                            Chăm Sóc Toàn Diện Cho Cá Koi Của Bạn
                        </h1>
                        <p class="mb-5 fs-5">
                            "Chúng tôi giúp bạn nuôi dưỡng đam mê và chăm sóc cá Koi bằng những dịch vụ đẳng cấp
                            hàng
                            đầu."
                        </p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5" href="#">
                                Tìm hiểu
                                thêm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselid" data-bs-slide="prev">
            <span class="carousel-control-prev-icon btn bg-primary" aria-hidden="false"></span>
            <span class="visually-hidden">previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselid" data-bs-slide="next">
            <span class="carousel-control-next-icon btn bg-primary" aria-hidden="false"></span>
            <span class="visually-hidden">next</span>
        </button>
    </div>
</div>
<!-- carousel end -->
</div>
<div class="container-fluid search-bar position-relative" style="top: -50%; transform: translatey(-50%);">
    <div class="container">
        <div class="position-relative rounded-pill w-100 mx-auto p-5" style="background: rgba(19, 53, 123, 0.8);">
            <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Tìm kiếm">
            <button type="button" class="btn btn-primary rounded-pill py-2 px-4 position-absolute me-2"
                style="top: 50%; right: 46px; transform: translatey(-50%);">
                search
            </button>
        </div>
    </div>
</div>
<!-- navbar & hero end -->
<!-- About Start -->
<div class="container-fluid about py-3">
    <div class="container py-3">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #13357B transparent #13357B;">
                    <img src="img/about-koi.jpg" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7"
                style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                <h5 class="section-about-title pe-3"><b>Về chúng tôi</b></h5>
                <h1 <span class="text-primary"><strong>Trung tâm dịch vụ cá Koi</strong></span></h1>
                <h2 class="elementor-heading-title elementor-size-default" style="font-weight: bold; color: #13357B;">
                    Chăm sóc Cá Koi từ sự tâm huyết!</h2>
                <p class="mb-4" style="color: black;">Trung tâm dịch vụ Cá Koi của chúng tôi là điểm đến tin cậy dành
                    cho những ai đam mê
                    và yêu thích loài cá cảnh đặc biệt này. Với đội ngũ chuyên gia dày dạn kinh nghiệm và kiến thức
                    sâu sắc, chúng tôi mang đến giải pháp chăm sóc toàn diện, từ tư vấn thiết kế hồ cá, bảo trì môi
                    trường nước đến điều trị các bệnh lý thường gặp ở cá Koi.</p>
                <p class="mb-4" style="color: black;">Chúng tôi cam kết mang đến sự chăm sóc tận tâm và chuyên nghiệp,
                    giúp cá Koi của bạn
                    luôn khỏe mạnh, sống động và duy trì vẻ đẹp tinh tế. Tại đây, bạn sẽ tìm thấy tất cả những gì
                    cần thiết để nuôi dưỡng và bảo vệ "người bạn nhỏ" của mình, từ dịch vụ phòng chống và điều trị
                    bệnh đến cung cấp thiết bị chăm sóc cao cấp.</p>
                <p class="mb-4" style="color: black;">Chúng tôi cam kết mang đến sự chăm sóc tận tâm và chuyên nghiệp,
                    giúp cá Koi của bạn
                    luôn khỏe mạnh, sống động và duy trì vẻ đẹp tinh tế. Tại đây, bạn sẽ tìm thấy tất cả những gì
                    cần thiết để nuôi dưỡng và bảo vệ "người bạn nhỏ" của mình, từ dịch vụ phòng chống và điều trị
                    bệnh đến cung cấp thiết bị chăm sóc cao cấp.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0" style="color: black;"><i class="fa fa-arrow-right text-primary me-2"></i>Chuyên
                            Gia Cá Koi Hàng
                            Đầu</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0" style="color:black"><i class="fa fa-arrow-right text-primary me-2"></i>Kiểm Tra
                            Chất Lượng Nước
                            Định Kỳ</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0" style="color: black;"><i class="fa fa-arrow-right text-primary me-2"></i>Phòng
                            Chống và Điều Trị
                            Bệnh Cao Cấp</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0" style="color: black;"><i class="fa fa-arrow-right text-primary me-2"></i>Cung
                            Cấp Thiết Bị Cao Cấp
                            Cho Hồ Cá</p>
                    </div>

                </div>
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="/about">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Services Start -->
<div class="ccontainer-fluid bg-light service py-3">
    <div class="container-fluid packages py-3">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3"><strong>DỊCH VỤ</strong></h5>
                <h1 class="mb-0"><strong>Dịch Vụ Chăm Sóc Cá Koi</strong></h1>
            </div>
            <div class="packages-carousel owl-carousel">
                <div class="packages-item">
                    <div class="packages-img">
                        <img src="img/cakoi.webp" class="img-fluid w-100 rounded-top" alt="Image">
                        <div class="packages-price py-2 px-4">0đ</div>
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">Đặt lịch tư vấn</h5>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p class="mb-4">Nhận tư vấn miễn phí từ chuyên gia hàng đầu. Chúng tôi sẽ giúp bạn tìm ra
                                giải pháp tối ưu cho mọi vấn đề.</p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="row bg-primary rounded-bottom mx-0">
                                <div class="text-center px-0">
                                    <a href="/dich-vu/tu-van-truc-tuyen" class="btn-hover btn text-white py-2 px-4">Xem
                                        thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="packages-item">
                    <div class="packages-img">
                        <img src="img/hocakoi.webp" class="img-fluid w-100 rounded-top" alt="Image">
                        <div class="packages-price py-2 px-4">499.000đ</div>
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">Đặt lịch chăm sóc hồ Cá</h5>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p class="mb-4">Hồ cá của bạn sẽ trở nên trong vắt và sinh động hơn bao giờ hết với dịch vụ
                                chăm sóc chuyên nghiệp của chúng tôi.</p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="text-center px-0">
                                <a href="/dich-vu/danh-gia-tu-van-ho-ca" class="btn-hover btn text-white py-2 px-4">Xem
                                    thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="packages-item">
                    <div class="packages-img">
                        <img src="img/dieutrica.webp" class="img-fluid w-100 rounded-top" alt="Image">

                        <div class="packages-price py-2 px-4">549.000đ</div>
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">Đặt lịch điều trị</h5>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p class="mb-4"> Chúng tôi sẽ giúp
                                bạn tìm ra giải pháp điều trị bệnh tối ưu và hiệu quả với chi phí hợp lý cho mọi vấn đề
                                của cá Koi.
                            </p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="text-center px-0">
                                <a href="/dich-vu/dieu-tri-benh-cho-ca" class="btn-hover btn text-white py-2 px-4">Xem
                                    thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
<!-- Services End -->
<!--Contact Start-->

<div class="col-lg-12" style="background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(img/about-img-1.png); 
           background-size: cover; 
           padding: 40px 20px; 
           text-align: center; 
           color: black; 
           border-radius: 10px; 
           margin: 20px auto; 
           max-width: 800px;">

    <h4 style="margin-bottom: 20px;"><b>Hãy liên hệ ngay với chúng tôi để nhận tư vấn miễn phí về những dịch vụ chăm sóc
            cá Koi.</b></h4>

    <a href="tel:0942882324" style="display: inline-block;
              padding: 12px 24px; 
              background-color: #c00; 
              color: #fff; 
              border-radius: 10px; 
              text-decoration: none; 
              font-size: 18px; 
              margin-right: 10px;
              transition: background-color 0.3s ease;">
        <i class="fa fa-phone" aria-hidden="true"></i> Gọi ngay
    </a>

    <a href="https://www.facebook.com/TruongDHGiaothongvantaiTPHCM" style="display: inline-block;
              padding: 12px 24px; 
              background-color: #0056b3; 
              color: #fff; 
              border-radius: 10px; 
              text-decoration: none; 
              font-size: 18px; 
              transition: background-color 0.3s ease;">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Nhắn tin
    </a>
</div>
<!-- contact end -->

<!-- thông tin bác sĩ -->
<div class="container-fluid guide py-3" style="background-color:#F8F2F2;">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3"><strong>Bác sĩ</strong></h5>
            <h1 class="mb-0"><b>Thông Tin Bác Sĩ</b></h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="guide-item">
                    <div class="guide-img">
                        <div class="guide-img-efects">
                            <img src="img/guide-1.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                        </div>
                        <div class="guide-icon rounded-pill p-2">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="guide-title text-center rounded-bottom p-4">
                        <div class="guide-title-inner">
                            <h4 class="mt-3">Bùi Tiến Vỹ</i></i></h4>
                            <p class="mb-0">Bác sĩ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="guide-item">
                    <div class="guide-img">
                        <div class="guide-img-efects">
                            <img src="img/guide-2.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                        </div>
                        <div class="guide-icon rounded-pill p-2">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="guide-title text-center rounded-bottom p-4">
                        <div class="guide-title-inner">
                            <h4 class="mt-3">Đinh Quốc Đạt</h4>
                            <p class="mb-0">Bác sĩ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="guide-item">
                    <div class="guide-img">
                        <div class="guide-img-efects">
                            <img src="img/guide-3.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                        </div>
                        <div class="guide-icon rounded-pill p-2">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="guide-title text-center rounded-bottom p-4">
                        <div class="guide-title-inner">
                            <h4 class="mt-3">Võ Cao Tấn Ngọc</h4>
                            <p class="mb-0">Bác sĩ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="guide-item">
                    <div class="guide-img">
                        <div class="guide-img-efects">
                            <img src="img/guide-4.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                        </div>
                        <div class="guide-icon rounded-pill p-2">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="guide-title text-center rounded-bottom p-4">
                        <div class="guide-title-inner">
                            <h4 class="mt-3">Huỳnh Tấn Lượng</h4>
                            <p class="mb-0">Bác sĩ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Travel Guide End -->
<!-- Gallery Start -->
<div class="container-fluid gallery py-3 my-5">
    <div class="mx-auto text-center mb-3" style="max-width: 900px;">
        <h5 class="section-title px-3"><strong>Hình ảnh</strong></h5>
        <h1 class="mb-4"><b>Dịch Vụ Chăm Sóc Cá Koi</b></h1>
        <p class="mb-0" style="color: black;">
            Chúng tôi cung cấp dịch vụ chuyên nghiệp từ tư vấn thiết kế hồ cá đến
            chăm sóc, bảo dưỡng cá
            koi định kỳ. Đội ngũ chuyên gia sẽ giúp bạn duy trì môi trường sống lý tưởng cho cá koi của mình.
        </p>
    </div>
    <div class="tab-class text-center">
        <div class="tab-content">
            <div id="GalleryTab-1" class="tab-pane fade show p-0 active">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/backgroundservices1.webp" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/backgroundservices1.webp" data-lightbox="gallery-1" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="img/backgroundservices2.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/backgroundservices2.jpg" data-lightbox="gallery-2" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/backgroundservices3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/backgroundservices3.jpg" data-lightbox="gallery-3" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="img/backgroundservices4.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/backgroundservices4.jpg" data-lightbox="gallery-4" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/backgroundservices5.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/backgroundservices5.jpg" data-lightbox="gallery-5" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/backgroundservices6.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/backgroundservices6.jpg" data-lightbox="gallery-6" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="img/backgroundservices7.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/backgroundservices7.jpg" data-lightbox="gallery-7" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/backgroundservices8.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/backgroundservices8.jpg" data-lightbox="gallery-8" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="img/backgroundservices9.png" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/backgroundservices9.png" data-lightbox="gallery-9" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/backgroundservices10.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/backgroundservices10.jpg" data-lightbox="gallery-10" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="GalleryTab-2" class="tab-pane fade show p-0">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">
                                        View All Place <i class="fa fa-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-2.jpg" data-lightbox="gallery-2" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">
                                        View All Place <i class="fa fa-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-3.jpg" data-lightbox="gallery-3" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="GalleryTab-3" class="tab-pane fade show p-0">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">
                                        View All Place <i class="fa fa-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-2.jpg" data-lightbox="gallery-2" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">
                                        View All Place <i class="fa fa-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-3.jpg" data-lightbox="gallery-3" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="GalleryTab-4" class="tab-pane fade show p-0">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">
                                        View All Place <i class="fa fa-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-2.jpg" data-lightbox="gallery-2" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">
                                        View All Place <i class="fa fa-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-3.jpg" data-lightbox="gallery-3" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="GalleryTab-5" class="tab-pane fade show p-0">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">
                                        View All Place <i class="fa fa-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-2.jpg" data-lightbox="gallery-2" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">
                                        View All Place <i class="fa fa-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-3.jpg" data-lightbox="gallery-3" class="my-auto">
                                    <i class="fas fa-plus fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery End -->
<!-- Blog Start -->
<div class="container-fluid blog py-3" style="background-color: #f8f2f2;">
    <div class="container py-3">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3"><strong>Blog tin tức</strong></h5>
            <h1 class="mb-4"><b>Tin Tức Về Cá Koi</b></h1>
            <p class="mb-0" style="color: black;">
                Cập nhật những thông tin mới nhất về cách chăm sóc cá Koi, thiết kế
                hồ cá, và những kiến
                thức bổ ích để duy trì sức khỏe tốt nhất cho cá Koi của bạn. Đội ngũ chuyên gia sẽ mang đến cho bạn
                những bài viết chất lượng và đáng tin cậy.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="img/blog1.webp" alt="Image">
                            <div class="blog-icon">
                                <a href="/tin-tuc/cac-benh-ca-koi" class="my-auto"><i
                                        class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                        <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                            <small class="flex-fill text-center border-end py-2">
                                <i class="fa fa-calendar-alt text-primary me-2"></i>28 Oct 2024
                            </small>

                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <p class="mb-3">Biên Tập: Nhất Duy </p>
                        <a href="/tin-tuc/cac-benh-ca-koi" class="h4">Các bệnh cá Koi kèm dấu hiệu và cách phòng, chữa
                            bệnh</a>
                        <p class="my-3">
                            Koi Services tổng hợp tất cả các bệnh phổ biến nhất cá Koi thường bị. Cung cấp đầy đủ...

                        </p>
                        <a href="/tin-tuc/cac-benh-ca-koi" class="btn btn-primary rounded-pill py-2 px-4">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="img/blog2.webp" alt="Image">
                            <div class="blog-icon">
                                <a href="/tin-tuc/huong-dan-ky-thuat-nuoi-va-cham" class="my-auto"><i
                                        class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                        <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                            <small class="flex-fill text-center border-end py-2">
                                <i class="fa fa-calendar-alt text-primary me-2"></i>15 Sep 2024
                            </small>
                            </a>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <p class="mb-3">Biên Tập: Nhất Duy </p>
                        <a href="/tin-tuc/huong-dan-ky-thuat-nuoi-va-cham" class="h4">Hướng dẫn kỹ thuật nuôi và chăm
                            sóc cá Koi</a>
                        <p class="my-3">
                            Cá Koi có thể sống tới hơn 225 tuổi , khiến chúng trở thành động vật có xương sống sống...

                        </p>
                        <a href="/tin-tuc/huong-dan-ky-thuat-nuoi-va-cham"
                            class="btn btn-primary rounded-pill py-2 px-4">Xem thêm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img class="img-fluid w-100 rounded-top" src="img/blog3.webp" alt="Image">
                            <div class="blog-icon">
                                <a href="/tin-tuc/quy-trinh-ve-sinh-ho-ca" class="my-auto"><i
                                        class="fas fa-link fa-2x text-white"></i></a>
                            </div>
                        </div>
                        <div class="blog-info d-flex align-items-center border border-start-0 border-end-0">
                            <small class="flex-fill text-center border-end py-2">
                                <i class="fa fa-calendar-alt text-primary me-2"></i>13 Jan 2024
                            </small>
                            </a>
                        </div>
                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">
                        <p class="mb-3">Biên Tập: Nhất Duy </p>
                        <a href="/tin-tuc/quy-trinh-ve-sinh-ho-ca" class="h4">Quy trình vệ sinh hồ cá Koi chuẩn chỉ</a>
                        <p class="my-3">
                            Quy trình vệ sinh hồ cá Koi đơn giản tưởng chừng là công việc đơn giản nhưng lại vô cùng...

                        </p>
                        <a href="/tin-tuc/quy-trinh-ve-sinh-ho-ca" class="btn btn-primary rounded-pill py-2 px-4">Xem
                            thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->