@page "/tin-tuc/huong-dan-ky-thuat-nuoi-va-cham"
@model KoiServiceCenter.WebApp.Pages.Blog.Blog2.IndexModel
@{
}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h1 class="text-white display-3 mb-4">
            KOI SERVICES
        </h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="https://localhost:7012/">Trang chủ</a></li>
            <li class="breadcrumb-item active text-white">Tin tức</li>
        </ol>
    </div>
</div>
<!-- Header End -->
<!-- Blog 2 Start -->
<div class="container-fluid blog py-5" style="background-color: #f8f2f2;">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3" style="font-weight: bold;">Blog tin tức</h5>
            <h1 class="mb-4"><strong>Hướng dẫn kỹ thuật nuôi và chăm sóc cá koi</strong></h1>
            <p class="author_single">
                <i class="fa fa-user" aria-hidden="true"></i> Biên tập
                <a href="https://www.facebook.com/profile.php?id=100009970173310">Nhất Duy</a>
            </p>
            <p class="mb-4" style="color: black;">
                Cá Koi có thể sống tới hơn 225 tuổi , khiến chúng trở thành động vật có xương sống sống lâu nhất trên Trái Đất. Nuôi Koi tương đối dễ dàng, vui vẻ và bổ ích vì chúng tương đối thân thiện, hòa đồng. Chỉ cần chắc chắn làm theo các hướng dẫn kỹ thuật nuôi và chăm sóc cá Koi sau đây sẽ giúp Koi của bạn sinh trưởng và phát triển tốt nhất.
        </div>

        
        <div class="mb-5">
            <h2 style="font-size: 1.6em; color: black;"><strong>Lưu ý về vấn đề nuôi cá Koi cho người mới bắt đầu</strong></h2>
            <p style="font-size: 1.2em; color: black;">
                Rất nhiều người mới bắt đầu chơi Koi thường than vãn về việc Koi hay chết, nuôi Koi tốn kém, Koi không lên màu, bị người bán “lừa bán” giống Koi kém chất lượng. Thế nhưng, họ lại không biết vấn đề là do họ còn rất ít kinh nghiệm nuôi Koi. Vì thế, trước khi bắt đầu nuôi Koi, bạn cần phải thực sự lưu ý những điểm sau:
            </p>
            <p style="font-size: 1.2em; color: black;">
                – Thứ nhất, điểm quan trọng đầu tiên để cá có thể sống được chính là môi trường nước, hồ Koi cần phải thiết kế hệ thống lọc chuẩn tốt, đúng những tiêu chí yêu cầu. Nếu như không biết, hãy thuê các đơn vị tư vấn, thiết kế và thi công hồ cá Koi  chuyên nghiệp, có kinh nghiệm, uy tín.
            </p>
            <p style="font-size: 1.2em; color: black;">
                – Thứ hai, môi trường trong nước cần phải có đủ oxy cho cá. Nếu thấy cá bơi lên bề mặt, đớp nước ở tầng mặt chính là dấu hiệu cho thấy cá đang bị thiếu oxy, phải thay nước trong hồ. Nếu như có thác nước cần phải tạo thác nước để giúp cung cấp oxy, kiểm tra độ pH cần đạt khoảng từ 7-7,5. Muốn cung cấp đầy đủ oxy, bạn cần có những thiết bị cho hồ cá Koi  như máy bơm, hệ thống lọc…
            </p>
            <p style="font-size: 1.2em; color: black;">
                – Thứ ba, về nguồn gốc của cá Koi. Khi có nhu cầu mùa Koi, người chơi cần phải tìm hiểu thông tin, cách thức chọn mua Koi chuẩn, đặc biệt là những Koi Nhật, phải có giấy kiểm định xuất xứ, giấy bảo hành rõ ràng.
            </p>
            <p style="font-size: 1.2em; color: black;">
                – Thứ tư, nếu như trước đó chưa có kinh nghiệm nuôi Koi thì hãy bắt đầu nuôi từ những em Koi size nhỏ trước. Hãy chọn Koi theo tỷ lệ 1/3000 con, giống Koi tốt, sức sống khỏe mang đến nhiều giá trị trong tương lai. Hiện nay, giống Koi baby cũng có nhiều loại khác nhau, giao động trong khoảng từ 900.000 đến 1.500.000 đồng/ con. Khi nuôi những em Koi này lớn, phát triển tốt, chắc chắn bạn sẽ rút được nhiều kinh nghiệm và có tình yêu với Koi hơn.
            </p>
            <div style="text-align: center;">
                <img src="https://onkoi.vn/wp-content/uploads/2020/04/ky-thuat-nuoi-koi-mau-lon.webp" alt="Img" class="img-fluid mb-3" style="max-width: 100%; height: auto;">
            </div>
            <p style="text-align: center;"><em>
                <span style="font-size: 1.4em; color: black;">
                    <strong>Nuôi Koi cần phải chú ý đễn kỹ thuật nuôi thì Koi mới mau lớn</strong></span></em></p>
            <p style="font-size: 1.2em; color: black">
                Đặc biệt, chúng tôi khuyên bạn, khi mới bắt đầu chơi, bạn hãy tìm cho mình một chuyên gia, những người thực tế đang có nhiều kinh nghiệm về chăm sóc Koi, sở hữu những hồ Koi giá trị hàng tỷ đồng để học hỏi. Tốt nhất là KHÔNG NÊN nghe lời tư vấn “suông” của những người bán cá nghiệp dư hoặc những người môi giới Koi.
            </p>
             <p style="font-size: 1.2em; color: black">
                – Thứ năm, khi mới bắt Koi về, Koi cần phải được cách ly nuôi riêng trong khoảng 14 ngày. Trong thời gian này thì áp dụng phương pháp khử khuẩn cho Koi rồi mới thả vào bể nuôi chung. Khoảng 1/2 lượng nước trong bể nuôi riêng đó được lấy từ bể nuôi chung để khi thả Koi ra bể chung, Koi không bị sốc nước.
            </p>
             <p style="font-size: 1.2em; color: black">
                – Thứ sáu, cần phải chú ý đến thức ăn cá Koi . Trong quá trình nuôi Koi, cần chú ý đến thành phần vitamin C trong thức để giúp Koi có sức đề kháng tốt, từ đó giúp tăng khả năng chống chọi với bệnh tật. Thời gian cho Koi ăn là khoảng 2 tiếng/lần, buổi sáng cho ăn từ 6h-11h trưa, buổi chiều khoảng từ 2h-6h tối. Tuyệt đối không nên cho Koi ăn vào ban đêm và mỗi lần nên cho ăn số lượng vừa đủ, không nên cho Koi ăn quá nhiều, quá no dẫn đến hệ tiêu hóa hoạt động không ổn định.
            </p>
            <div class="mb-5">
                <h2 style="font-size: 1.6em; color: black;"><strong>Hướng dẫn kỹ thuật nuôi cá Koi chi tiết</strong></h2>

             <h3 style="font-size: 1.4em; color: black; font-weight: bold;">Chuẩn bị hồ nuôi Koi</h3>
             <p style="font-size: 1.2em; color: black">
                    Dù bạn thực hiện cách nuôi Koi trong nhà hay cách nuôi Koi ngoài trời thì bạn cũng cần phải ưu tiên hồ nuôi Koi. Ngoài ra, việc nuôi Koi trong nhà hay ngoài trời về cơ bản cũng đều giống nhau nhưng bạn cần chú ý đến diện tích của hồ. Nếu hồ nuôi Koi baby thì không cần quá rộng nhưng đến khi Koi to hơn thì phải lọc bớt Koi để hồ không bị chật, số lượng Koi nuôi quá nhiều trong hồ cũng làm giảm hiệu suất phát triển của Koi.
            </p>
             <p style="font-size: 1.2em; color: black">
                    Nếu hồ nuôi Koi to sai thì nên xây hồ rộng hoặc tùy theo số lượng Koi được nuôi để xây hồ. Tuy nhiên, đối với những Koi lớn thì diện tích hồ cần phải thực sự rộng rãi. Hãy tạo cho Koi cảm giác thật sự thoải mái giống như cảm giác thoải mái của bạn trên chính chiếc giường ngủ tại phòng ngủ vậy.
            </p>
             <p style="font-size: 1.2em; color: black">
                    – Độ sâu của hồ nên từ 0,8-1m, đối với hồ nuôi Koi baby thì thường là 0,4-0,5m là tốt nhất. Vì nếu hồ quá sâu sẽ không nhìn thấy cá và khó vệ sinh, hồ quá cạn cũng khiến Koi bị khó thở.
            </p>
             <p style="font-size: 1.2em; color: black">
                    – Để đảm bảo an toàn cho Koi thì trong lúc thi công hồ, bạn hãy xây thành hồ cao hơn một chút để tránh chó, mèo “ăn thịt” mất các em ấy.
            </p>
             <p style="font-size: 1.2em; color: black">
                    – Khi xây hồ xong thì bạn hãy dùng WUNMID liều 100g/ 200m3 nước để sát trùng toàn bộ trước khi thả cá. Sau 24 giờ thì bạn tiến hành sục khí và cấy vi sinh vật có lợi. Bạn nên xả nước khoảng 2-3 lần rồi mới thả cá, tốt nhất sau 1 ngày sát trùng hồ thì mới thả Koi.
            </p>
                <h3 style="font-size: 1.4em; color: black; font-weight: bold;">Chuẩn bị nước cho hồ nuôi Koi</h3>
             <p style="font-size: 1.2em; color: black">
                    Đối với cá Koi, nước cũng giống như không khí của con người, là thứ cần thiết để giúp chúng duy trì sự sống và phát triển. Nhiều người thường ví von rằng, nếu hồ Koi trị giá 10 tỷ đồng thì việc xây dựng hồ Koi, hệ thống lọc cho nước để đảm bảo môi trường sống cho cá chiếm tới 1/4 – 1/2 giá trị của hồ Koi đó (có nghĩa là từ 2,5-5 tỷ đồng). Với những người chơi Koi mà không có hồ hoặc hồ tạm bợ, không đạt chuẩn thì không thể Koi là chơi Koi và nuôi Koi chắc chắn sẽ chết.
            </p>
             <p style="font-size: 1.2em; color: black">
                    Vì thế, nước trong hồ Koi có thể nói là ảnh hưởng trực tiếp đối với sự “sống chết” của Koi . Yêu cầu của nước nuôi Koi như sau:
            </p>
             <p style="font-size: 1.2em; color: black">
                    – Độ pH lý tưởng nhất từ 7-7,5 và không bị thay đổi đột ngột
            </p>
             <p style="font-size: 1.2em; color: black">
                    – Ngưỡng pH: 4-9;
            </p>
             <p style="font-size: 1.2em; color: black">
                    – Nhiệt độ 20-27oC;
            </p>
             <p style="font-size: 1.2em; color: black">
                    – Hàm lượng O2 tối thiểu: 2,5mg/L.
            </p>
                <span style="font-size: 1.4em; color: black;"><strong><em>Lưu ý: </em></strong></span>
             <p style="font-size: 1.2em; color: black">
                    + Thông thường, sau khoảng một thời gian nuôi cá thì chất nhờn, chất thải kèm ánh nắng mặt trời…sẽ khiến cho tảo, rong rêu phát triển nhiều hơn làm ảnh hưởng đến O2 trong hồ làm thiếu hụt lượng O2 để cá hô hấp. Do vậy hãy đảm bảo cảnh quan cây cối xung quanh hồ để giúp đảm bảo lượng oxy.
            </p>
             <p style="font-size: 1.2em; color: black">
                    + Hãy luôn giữ nhiệt độ trong nước, độ pH ổn định để giúp tránh sự thay đổi đột ngột đến cá bị sốc và chết.
            </p>
             <p style="font-size: 1.2em; color: black">
                    + Khi thay nước cần phải thay từ từ, không nên thay đột ngột số lượng nước lớn dễ bị gây sock cho cá (nên cứ 2 ngày thì phải thay 1/3 lượng nước cũ trong hồ 1 lần).
            </p>
             <p style="font-size: 1.2em; color: black">
                    + Nước trước khi bơm cần phải thực hiện qua các bước xử lý (dùng than hoạt tính, phơi nắng…).
            </p>
                <div style="text-align: center;">
                    <img src="https://onkoi.vn/wp-content/uploads/2020/04/kich-thuoc-ho-koi-nhu-nao-cho-phu-hop.webp" alt="Img" class="img-fluid mb-3" style="max-width: 100%; height: auto;">
                </div>
                <p style="text-align: center;">
                    <em>
                        <span style="font-size: 1.4em; color: black;">
                            <strong>
                                Hồ nuôi Koi cần phải có kích thước lớn và rộng rãi

                                Chọn giống Koi để thả vào hồ
                            </strong>
                        </span>
                    </em>
                </p>
                <h3 style="font-size: 1.4em; color: black; font-weight: bold;"> Chọn giống Koi để thả vào hồ</h3>
                <p style="font-size: 1.2em; color: black">
                    Tùy theo từng loài Koi mà bạn có những cách chọn giống Koi để thả vào hồ cho phù hợp. Bạn có thể tham khảo thêm: Cách hướng dẫn chọn cá Koi Nhật theo từng loại. Nhìn chung, chọn Koi cần phải chọn loại giống khỏe mạnh, bơi đẹp, không bị dị tật…nhưng công cuộc này đòi hỏi bạn phải ĐẦU TƯ KIẾN THỨC VÀ SUY NGHĨ RẤT NHIỀU. Trên thị trường hiện nay có khá nhiều loại Koi với đầy đủ kích thước, hình dáng và màu sắc khác nhau.
                </p>
                <p style="font-size: 1.2em; color: black">
                    – Koi Nhật: Là dòng Koi nổi bật và đắt tiền nhất nhưng thỏa mãn đầy đủ các yêu cầu về thú chơi nhất mang đến giá trị cao nhất về tinh thần và kinh tế.
                </p>
                <p style="font-size: 1.2em; color: black">
                    – Koi Trung Quốc: Cũng có nguồn gốc từ Koi Nhật nhưng là những Koi Nhật, đã được sàng lọc theo tỉ lệ 7:3 (loại 7, giữ lại 3) sau khi Koi sinh được 60 ngày. Trung Quốc cũng là thị trường Koi lớn nhất của Nhật Bản tính đến thời điểm hiện tại.
                </p>
                <p style="font-size: 1.2em; color: black">
                    – Koi Việt Nam: Do giá trị kinh tế của Koi Nhật rất cao, nên để có được một chú Koi Nhật không phải là điều dễ dàng đối với tất cả mọi người. Vì vậy, mà người ta cho lai tạo Koi Nhật để tạo ra các dòng như koi F1 với bố mẹ thuần chủng, koi Việt (Koi F2, F3…).
                </p>
                <p style="font: 1.4em; color: black">
                    – Koi châu Âu: Một số nước như Mỹ, Pháp, Đức cũng lai tạo khá thành công giống Koi Nhật. Cũng tương tự như Việt Nam, những nước này thường cho lai tạo Koi Nhật để tạo ra những dòng Koi F1 với bố mẹ thuần chủng. Đặc điểm chung của Koi châu Âu là hông ngắn (nếu nhìn ngang), đầu hơi gù…
                </p>
                <p style="font: 1.4em; color: black">
                    Về cơ bản, để chọn được giống Koi tốt, bạn cần phải chú ý đến những đặc điểm sau:
                </p>
                <p style="font: 1.4em; color: black">
                    – Chọn body: Body của Koi cần phải có hình dáng cân đối, không dị tật, xây xát, có vây, đuôi rõ ràng, khỏe mạnh, mắt sáng, linh hoạt, phản ứng tốt.
                </p>
                <p style="font: 1.4em; color: black">
                    – Chọn màu sắc: Màu sắc của thân cá không bị mờ, rõ ràng, việc phân cách giữa các màu thì cũng tùy từng giống nhưng cần phải phân chia rõ màu, không bị lem, vỡ màu.
                </p>
                <p style="font: 1.4em; color: black">
                    – Quan sát dáng bơi: Dáng bơi cần phải thẳng, uyển chuyển, nhẹ nhàng, không có dấu hiệu lệch sang bên nào cả.
                </p>
                <p style="font: 1.4em; color: black">
                    – Địa chỉ mua Koi: Hãy đến những địa chỉ mua Koi uy tín, tư vấn rõ ràng, có bảo hành, cam kết về đền bù, nguồn gốc xuất xứ. Tại những địa chỉ này sẽ giúp bạn tránh được tình trạng mua cá mua về làm sinh bệnh chết cá cũ.
                </p>
                <h3 style="font-size: 1.4em; color: black; font-weight: bold;"> Hệ sinh thái trong hồ nuôi Koi</h3>
                <p style="font: 1.4em; color: black">
                    Những loại rong tảo sẽ góp phần mang đến hệ sinh thái khá tốt cho hồ nuôi cá Koi nhưng nếu như rong tảo phát triển quá nhiều thì sẽ không tốt vì chúng có thể khiến làm cá bị thiếu oxy để thở. Vì thế, bạn hãy kiểm soát sự phát triển của rong tảo trong hồ, có thể trồng thêm sen, súng hoặc kèm theo thác nước nhỏ là tốt nhất vì sẽ giúp tạo dòng oxy cho cá.
                </p>
             </div>
         </div>
     </div>
 </div>
 <!--Blog 2 End-->
