@page "/dich-vu/dat-lich"
@model KoiServiceCenter.WebApp.Pages.Services.Book.IndexModel
@{
}

<!doctype html>
<html lang="en">
<!-- header start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">
            KOI SERVICES
        </h3>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active text-white"><a href="https://localhost:7012/dich-vu">Dịch vụ</a></li>
            <li class="breadcrumb-item active text-white">Đặt lịch</li>
        </ol>
    </div>
</div>
<!-- header end -->
<!-- Tour Booking Start -->
<div class="container-fluid booking py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h5 class="section-booking-title pe-3">Đặt lịch</h5>
                <h1 class="text-white mb-4">Đặt Lịch Trực Tuyến</h1>
                <p class="text-white mb-4">
                    Bạn đang quan tâm đến dịch vụ chăm sóc cho cá Koi? Hãy trải nghiệm sự tiện lợi với dịch vụ đặt lịch trực tuyến của chúng tôi!
                <p class="text-white mb-4">

                    Chúng tôi cung cấp các dịch vụ chuyên nghiệp bao gồm:

                <p class="text-white mb-4">
                    👉 Kiểm tra sức khỏe cá Koi
                <p class="text-white mb-4">
                    👉  Điều trị bệnh và tư vấn chăm sóc
                <p class="text-white mb-4">
                    👉 Vệ sinh, thiết kế và bảo dưỡng hồ Koi
                <p class="text-white mb-4">
                    Với đội ngũ chuyên gia giàu kinh nghiệm, chúng tôi cam kết mang lại sự hài lòng tối đa cho bạn và những chú cá Koi yêu quý của mình.
                <p class="text-white mb-4">
                    👉 Đặt lịch ngay hôm nay để được tư vấn và chọn thời gian phù hợp nhất với bạn!
                <p class="text-white mb-4">
                    📞 Hotline: 094 288 23 24
                    🌐 Website: <a href="https://localhost:7012/" style="color: aqua">Koi Services</a>
                <p class="text-white mb-4">
                    Hân hạnh được phục vụ Quý khách! ❤️❤️❤️❤️❤️
                </p>
            </div>
            <div class="col-lg-6">
                <h1 class="text-white mb-3">Đặt dịch vụ với nhiều ưu đãi lớn</h1>
                <p class="text-white mb-4">GIẢM <span class="text-warning">50%</span> với những khách hàng lần đầu đặt dịch vụ.</p>

                <form method="post">
                    @{
                        var isAuthenticated = User.Identity.IsAuthenticated;
                    }

                    @if (isAuthenticated)
                    {
                        <div class="row g-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                            <div class="col-md-6">

                                <div class="form-floating">
                                    <select asp-for="ServiceHistory.CustomerId" class="form-control bg-white border-0"
                                            asp-items="ViewBag.CustomerId" disabled></select>
                                    <label asp-for="ServiceHistory.CustomerId" class="control-label">Khách hàng</label>
                                </div>

                            </div>
                            <input asp-for="ServiceHistory.HistoryId" type="hidden" />

                            <div class="col-md-6">
                                <div class="form-floating date" id="date3" data-target-input="nearest">
                                    <input asp-for="ServiceHistory.ServiceDate" type="date" class="form-control"
                                           value="" />
                                    <label asp-for="ServiceHistory.ServiceDate" class="control-label"></label>
                                    <span asp-validation-for="ServiceHistory.ServiceDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select asp-for="ServiceHistory.ServiceId" class="form-control bg-white border-0"
                                            asp-items="ViewBag.ServiceId"></select>
                                    <label asp-for="ServiceHistory.ServiceId" class="control-label">Dịch vụ</label>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select asp-for="ServiceHistory.VeterinarianId"
                                            class="form-control bg-white border-0"
                                            asp-items="ViewBag.VeterinarianId"></select>
                                    <label asp-for="ServiceHistory.VeterinarianId" class="control-label">Bác sĩ</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input asp-for="ServiceHistory.Result" class="form-control bg-white border-0" />
                                    <label asp-for="ServiceHistory.Result" class="control-label">Ghi chú</label>
                                    <span asp-validation-for="ServiceHistory.Result" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    }
                    else
                    {
                        <!-- Nếu chưa đăng nhập, không hiển thị gì hoặc hiển thị một thông báo -->
                        <p style="color: red;">Vui lòng đăng nhập để có thể đặt lịch.</p>
                    }
                    <div class="col-12 my-3">
                        <input type="submit" value="ĐẶT NGAY" class="btn btn-primary text-white w-100 py-3" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Tour Booking End -->
