@page "/lien-he"
@model KoiServiceCenter.WebApp.Pages.Contact.IndexModel
@{
}


<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h1 class="text-white display-3 mb-4">
            KOI SERVICES
        </h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/">Giới thiệu</a></li>
            <li class="breadcrumb-item active text-white">Liên hệ</li>
        </ol>
    </div>
</div>
<!-- Header End -->

@* <!-- Liên hệ Start -->
<div class="container-fluid contact bg-light py-5">
    <div class="container py-5">
        <div class="text-center mb-5" style="max-width: 800px; margin: auto;">
            <h5 class="section-title text-uppercase mb-3" style="font-weight: bold; color: #13357B; font-size: 1.5rem;">Liên hệ với chúng tôi</h5>
            <h1 class="display-4 mb-0" style="color: #E63946; font-size: 2.5rem;">Nếu bạn cần giúp đỡ?</h1>
        </div>
        <div class="row g-4 align-items-center">
            <div class="col-lg-8">
                <div class="bg-white rounded shadow p-4">
                    <div class="mb-4">
                        <div class="text-center">
                            <i class="fa fa-map-marker-alt fa-2x text-primary mb-3"></i>
                            <h5 class="text-primary mb-1" style="font-size: 1.25rem;">Địa chỉ</h5>
                            <p class="mb-0">70 Đ. Tô Ký, Tân Chánh Hiệp, Quận 12,<br> Hồ Chí Minh, Việt Nam</p>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="text-center">
                            <i class="fa fa-phone-alt fa-2x text-primary mb-3"></i>
                            <h5 class="text-primary mb-1" style="font-size: 1.25rem;">Số điện thoại</h5>
                            <p class="mb-0">094 288 23 24</p>
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                            <i class="fa fa-envelope-open fa-2x text-primary mb-3"></i>
                            <h5 class="text-primary mb-1" style="font-size: 1.25rem;">Email</h5>
                            <p class="mb-0">ut-hcmc@ut.edu.vn</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="p-4 bg-light rounded shadow">
                    <h3 class="mb-3" style="font-weight: bold; color: #13357B; font-size: 2rem;">Gửi tin nhắn cho chúng tôi!</h3>
                    <p class="mb-4" style="color: #333; font-size: 1.1rem;">
                        Khi cá của bạn đang gặp vấn đề về sức khỏe và cần sự chăm sóc đặc biệt, hãy đưa ngay chúng đến phòng khám tại địa chỉ được cung cấp hoặc gọi đến hotline <strong>094 288 23 24</strong> để được hỗ trợ kịp thời.
                        <br /><br />
                        Ngoài ra, bạn có thể gửi thông tin hoặc câu hỏi qua biểu mẫu trực tuyến và chúng tôi cam kết sẽ phản hồi trong vòng 24 giờ. Đội ngũ chém gióa tại trung tâm dịch vụ cá Koi luôn sẵn lòng hỗ trợ bạn để bảo đảm thú cưng được chăm sóc tốt nhất.
                    </p>
                    <form method="post">
                        <div class="row g-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                            <div class="col-md-6">

                                <div class="form-floating">

                                    <select asp-for="ServiceHistory.CustomerId" class="form-control bg-white border-0"
                                            asp-items="ViewBag.CustomerId"></select>
                                    <label asp-for="ServiceHistory.CustomerId" class="control-label">Customer</label>
                                </div>

                            </div>
                            <input asp-for="ServiceHistory.HistoryId" type="hidden" />

                            <div class="col-md-6">
                                <div class="form-floating date" id="date3" data-target-input="nearest">
                                    <input asp-for="ServiceHistory.ServiceDate" type="date" class="form-control"
                                           value="" />
                                    <label asp-for="ServiceHistory.ServiceDate" class="control-label"></label>
                                    <span asp-validation-for="ServiceHistory.ServiceDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select asp-for="ServiceHistory.ServiceId" class="form-control bg-white border-0"
                                            asp-items="ViewBag.ServiceId"></select>
                                    <label asp-for="ServiceHistory.ServiceId" class="control-label"></label>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select asp-for="ServiceHistory.VeterinarianId"
                                            class="form-control bg-white border-0"
                                            asp-items="ViewBag.VeterinarianId"></select>
                                    <label asp-for="ServiceHistory.VeterinarianId" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input asp-for="ServiceHistory.Result" class="form-control bg-white border-0" />
                                    <label asp-for="ServiceHistory.Result" class="control-label"></label>
                                    <span asp-validation-for="ServiceHistory.Result" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="submit" value="Book Now" class="btn btn-primary text-white w-100 py-3" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Liên hệ End --> *@


<!-- Contact Start -->
<div class="container-fluid contact bg-light py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Contact Us</h5>
            <h1 class="mb-0">Contact For Any Query</h1>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-4">
                <div class="bg-white rounded p-4">
                    <div class="text-center mb-4">
                        <i class="fa fa-map-marker-alt fa-3x text-primary"></i>
                        <h4 class="text-primary"><Address></Address></h4>
                        <p class="mb-0">123 ranking Street, <br> New York, USA</p>
                    </div>
                    <div class="text-center mb-4">
                        <i class="fa fa-phone-alt fa-3x text-primary mb-3"></i>
                        <h4 class="text-primary">Mobile</h4>
                        <p class="mb-0">+012 345 67890</p>
                        <p class="mb-0">+012 345 67890</p>
                    </div>

                    <div class="text-center">
                        <i class="fa fa-envelope-open fa-3x text-primary mb-3"></i>
                        <h4 class="text-primary">Email</h4>
                        <p class="mb-0">info@example.com</p>
                        <p class="mb-0">info@example.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <h3 class="mb-2">Send us a message</h3>
                <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                <form method="post">
                    <div class="row g-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <div class="col-md-6">

                            <div class="form-floating">

                                <select asp-for="ServiceHistory.CustomerId" class="form-control bg-white border-0"
                                        asp-items="ViewBag.CustomerId"></select>
                                <label asp-for="ServiceHistory.CustomerId" class="control-label">Customer</label>
                            </div>

                        </div>
                        @* <div class="col-md-6">
                        <div class="form-floating">
                        <input asp-for="ServiceHistory.HistoryId" class="form-control bg-white border-0" readonly />
                        <label asp-for="ServiceHistory.HistoryId" class="control-label"></label>
                        <span asp-validation-for="ServiceHistory.HistoryId" class="text-danger"></span>
                        </div>
                        </div> *@
                        <input asp-for="ServiceHistory.HistoryId" type="hidden" />

                        <div class="col-md-6">
                            <div class="form-floating date" id="date3" data-target-input="nearest">
                                <input asp-for="ServiceHistory.ServiceDate" type="date" class="form-control"
                                       value="" />
                                <label asp-for="ServiceHistory.ServiceDate" class="control-label"></label>
                                <span asp-validation-for="ServiceHistory.ServiceDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="ServiceHistory.ServiceId" class="form-control bg-white border-0"
                                        asp-items="ViewBag.ServiceId"></select>
                                <label asp-for="ServiceHistory.ServiceId" class="control-label"></label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="ServiceHistory.VeterinarianId"
                                        class="form-control bg-white border-0"
                                        asp-items="ViewBag.VeterinarianId"></select>
                                <label asp-for="ServiceHistory.VeterinarianId" class="control-label"></label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input asp-for="ServiceHistory.Result" class="form-control bg-white border-0" />
                                <label asp-for="ServiceHistory.Result" class="control-label"></label>
                                <span asp-validation-for="ServiceHistory.Result" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <input type="submit" value="Book Now" class="btn btn-primary text-white w-100 py-3" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12">
                <div class="rounded">
                    <iframe class="rounded w-100"
                            style="height: 450px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387191.33750346623!2d-73.97968099999999!3d40.6974881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1694259649153!5m2!1sen!2sbd"
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
