@page
@model KoiServiceCenter.WebApp.Pages.Admin.report.CreateModel

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Report.ReportId" class="control-label"></label>
                <input asp-for="Report.ReportId" class="form-control" />
                <span asp-validation-for="Report.ReportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.ReportDate" class="control-label"></label>
                <input asp-for="Report.ReportDate" class="form-control" />
                <span asp-validation-for="Report.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.TotalCustomers" class="control-label"></label>
                <input asp-for="Report.TotalCustomers" class="form-control" />
                <span asp-validation-for="Report.TotalCustomers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.TotalServices" class="control-label"></label>
                <input asp-for="Report.TotalServices" class="form-control" />
                <span asp-validation-for="Report.TotalServices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.AverageRating" class="control-label"></label>
                <input asp-for="Report.AverageRating" class="form-control" />
                <span asp-validation-for="Report.AverageRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.Notes" class="control-label"></label>
                <input asp-for="Report.Notes" class="form-control" />
                <span asp-validation-for="Report.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
