<!DOCTYPE html>
<html lang="vi">

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title> Admin - TRUNG TÂM CÁ KOI</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="vendors/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="vendors/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="vendors/images/favicon-16x16.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">


	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
		rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="~/admin/vendors/styles/core.css">
	<link rel="stylesheet" type="text/css" href="~/admin/vendors/styles/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="~/admin/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="~/admin/src/plugins/datatables/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="~/admin/vendors/styles/style.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>

</head>

<body>
	<div class="pre-loader">
		<div class="pre-loader-box">
			<h1 class="m-0"><i class="fa-solid fa-fish"></i>KOI</h1>
			<div class='loader-progress' id="progress_div">
				<div class='bar' id='bar1'></div>
			</div>
			<div class='percent' id='percent1'>0%</div>
			<div class="loading-text">
				Loading...
			</div>
		</div>
	</div>

	<div class="header">
		<div class="header-left">
			<div class="menu-icon dw dw-menu"></div>
			<div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
			<div class="app-tagline" style="color: #6C757D ; font-size:26px ;margin-right: 50px;">
				<b>TRUNG TÂM DỊCH VỤ CÁ KOI</b>
			</div>

			<div class="date-time"
				style="color: #6C757D; font-size: larger; display: flex; justify-content: center; align-items: center;">
				<span id="current-time" style="
        font-size: 1rem; /* Kích thước chữ lớn */
        font-weight: bold; /* Chữ đậm */
        color: #6C757D; /* Màu chữ nổi bật */
        background-color: #f1f1f1; /* Nền sáng cho tương phản */
        padding: 10px 20px; /* Khoảng cách cho chữ dễ đọc */
        border-radius: 8px; /* Bo góc nhẹ */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Bóng đổ để nổi bật */
	"></span>
			</div>


			<script>
				function updateTime() {
					const now = new Date();
					const formattedTime = now.toLocaleTimeString() + " " + now.toLocaleDateString();
					document.getElementById("current-time").textContent = formattedTime;
				}

				// Cập nhật thời gian mỗi giây
				setInterval(updateTime, 1000);

				// Gọi hàm ngay khi trang tải xong để không phải đợi 1 giây đầu tiên
				updateTime();
			</script>


		</div>
		<div class="header-right">
			<div class="dashboard-setting user-notification">
				<div class="dropdown">
					<a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
						<i class="dw dw-settings2"></i>
					</a>
				</div>
			</div>
			<div class="center-container">
				@if (User.Identity.IsAuthenticated)
				{
					<div class="user-info-dropdown">
						<div class="dropdown">
							<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
								<span class="user-icon">
									<i class="fas fa-user-circle fa-2x"></i> <!-- Font Awesome user icon -->
								</span>
								<span class="user-name">@User.Identity.Name</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
								<form method="post" asp-page="/Admin/Account/Logout" style="display: inline;">
									<button class="dropdown-item" type="submit"><i class="dw dw-logout"></i> Log
										Out</button>
								</form>
							</div>
						</div>
					</div>
				}
				else
				{
					<div class="dashboard-setting user-notification">
						<div class="dropdown">
							<a class="dropdown-toggle no-arrow" href="/Admin/Account/Login" data-toggle="right-sidebar">
								<i class="fas fa-sign-in-alt"></i>
							</a>
						</div>
					</div>

				}
			</div>


			<div class="github-link">
				<a href="https://github.com/tienvybui05/uthsoftwareengineer" target="_blank"><img
						src="vendors/images/github.svg" alt=""></a>
			</div>
		</div>
	</div>

	<div class="right-sidebar">
		<div class="sidebar-title">
			<h3 class="weight-600 font-16 text-blue">
				Layout Settings
				<span class="btn-block font-weight-400 font-12">User Interface Settings</span>
			</h3>
			<div class="close-sidebar" data-toggle="right-sidebar-close">
				<i class="icon-copy ion-close-round"></i>
			</div>
		</div>
		<div class="right-sidebar-body customscroll">
			<div class="right-sidebar-body-content">
				<h4 class="weight-600 font-18 pb-10">Header Background</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
					<a href="jav	ascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
				</div>

				<h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">White</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
				</div>

				<h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
				<div class="sidebar-radio-group pb-10 mb-10">
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input"
							value="icon-style-1" checked="">
						<label class="custom-control-label" for="sidebaricon-1"><i class="fa fa-angle-down"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input"
							value="icon-style-2">
						<label class="custom-control-label" for="sidebaricon-2"><i class="ion-plus-round"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input"
							value="icon-style-3">
						<label class="custom-control-label" for="sidebaricon-3"><i
								class="fa fa-angle-double-right"></i></label>
					</div>
				</div>

				<h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
				<div class="sidebar-radio-group pb-30 mb-10">
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-1" checked="">
						<label class="custom-control-label" for="sidebariconlist-1"><i
								class="ion-minus-round"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-2">
						<label class="custom-control-label" for="sidebariconlist-2"><i class="fa fa-circle-o"
								aria-hidden="true"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-3">
						<label class="custom-control-label" for="sidebariconlist-3"><i class="dw dw-check"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-4" checked="">
						<label class="custom-control-label" for="sidebariconlist-4"><i
								class="icon-copy dw dw-next-2"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-5">
						<label class="custom-control-label" for="sidebariconlist-5"><i
								class="dw dw-fast-forward-1"></i></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input"
							value="icon-list-style-6">
						<label class="custom-control-label" for="sidebariconlist-6"><i class="dw dw-next"></i></label>
					</div>
				</div>

				<div class="reset-options pt-30 text-center">
					<button class="btn btn-danger" id="reset-settings">Reset Settings</button>
				</div>
			</div>
		</div>
	</div>


	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="/admin">
				<h1 class="m-0" style="color: #b1bbc3;"><i class="fa-solid fa-fish" style="color: #8e9295;"></i>KOI
				</h1>
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					<li class="dropdown">
						<a href="/admin" class="dropdown-toggle">
							<span class="micon dw dw-house-1"></span><span class="mtext">Trang chủ</span>
						</a>
						<ul class="submenu">
							<li><a href="index.html">Dashboard style 1</a></li>
							<li><a href="index2.html">Dashboard style 2</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="/admin/useraccount" class="dropdown-toggle no-arrow">
							<span class="micon fa fa-address-book-o"></span><span class="mtext">Tài khoản</span>
						</a>
					</li>
					<li class="dropdown">
						<a href="/admin/Customer" class="dropdown-toggle no-arrow">
							<span class="micon fa fa-user"></span><span class="mtexdt"> Khách hàng</span>
						</a>
					</li>
					<li class="dropdown">
						<a href="/admin/services" class="dropdown-toggle no-arrow">
							<span class="micon fa fa-ambulance"></span><span class="mtext"> Dịch vụ</span>
						</a>
					</li>
					<li class="dropdown">
						<a href="/admin/vetschedule" class="dropdown-toggle no-arrow">
							<span class="micon fa fa-calendar"></span><span class="mtext"> Lịch bác sĩ</span>
						</a>
					</li>

					<li class="dropdown">
						<a href="/admin/cost" class="dropdown-toggle no-arrow">
							<span class="micon fas fa-dollar-sign"></span><span class="mtext"> Chi phí</span>
						</a>
					</li>
					<li class="dropdown">
						<a href="/admin/report" class="dropdown-toggle no-arrow">
							<span class="micon fas fa-file-alt"></span><span class="mtext"> Báo cáo</span>
						</a>
					</li>
					<li class="dropdown">
						<a href="/admin/servicehistory" class="dropdown-toggle no-arrow">
							<span class="micon fa fa-history"></span><span class="mtext">Lịch sử</span>
						</a>
					</li>

					<li class="dropdown">
						<a href="/admin/feedback" class="dropdown-toggle no-arrow">
							<span class="micon fa fa-comments"></span><span class="mtext"> Đánh giá</span>
						</a>
					</li>


				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<!-- Body-->
		@RenderBody()
		<div class="footer-wrap pd-20 mb-20 card-box">
			Bản quyền thuộc <a href="https://github.com/tienvybui05/uthsoftwareengineer" target="_blank">Koi Service
				Center</a>
		</div>
	</div>



	<!-- js -->
	<script src="~/admin/vendors/scripts/core.js"></script>
	<script src="~/admin/vendors/scripts/script.min.js"></script>
	<script src="~/admin/vendors/scripts/process.js"></script>
	<script src="~/admin/vendors/scripts/layout-settings.js"></script>
	<script src="~/admin/src/plugins/apexcharts/apexcharts.min.js"></script>
	<script src="~/admin/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="~/admin/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/admin/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
	<script src="~/admin/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
	<script src="~/admin/vendors/scripts/dashboard.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>