@page
@model KoiServiceCenter.WebApp.Pages.Services.Danhgiavatuvanhoca.CreateModel


<!doctype html>
<html lang="en">


<body>
    <!-- header start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">
                Dịch vụ cá koi</h3>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active text-white">Dịch vụ</li>
                </ol>

        </div>
    </div>
    <!-- header end -->
    <!-- services start -->
    <div class="container-fluid bg-light service py-5">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Dịch vụ</h5>
                <h1 class="mb-4">Đặt dịch vụ</h1>
            </div>
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-white mb-4">Nhập thông tin</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="form-group mb-3">
                            <label asp-for="ServiceHistory.HistoryId" class="control-label"></label>
                            <input asp-for="ServiceHistory.HistoryId" class="form-control" />
                            <span asp-validation-for="ServiceHistory.HistoryId" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="ServiceHistory.CustomerId" class="control-label"></label>
                            <select asp-for="ServiceHistory.CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="ServiceHistory.ServiceId" class="control-label"></label>
                            <select asp-for="ServiceHistory.ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="ServiceHistory.VeterinarianId" class="control-label"></label>
                            <select asp-for="ServiceHistory.VeterinarianId" class="form-control" asp-items="ViewBag.VeterinarianId"></select>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="ServiceHistory.ServiceDate" class="control-label"></label>
                            <input asp-for="ServiceHistory.ServiceDate" type="date" class="form-control" />
                            <span asp-validation-for="ServiceHistory.ServiceDate" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="ServiceHistory.Result" class="control-label"></label>
                            <textarea asp-for="ServiceHistory.Result" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="ServiceHistory.Result" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <input type="submit" value="Đặt lịch" class="btn btn-primary rounded-pill py-2 px-4 mt-3" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- services end -->
    
    <!-- javascript libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script> *@
    @* <script src="~/lib/owlcarousel/owl.carousel.min.js"></script> *@
    @* <script src="~/lib/lightbox/js/lightbox.min.js"></script> *@





    <!-- template javascript -->
    <script src="~/js/main.js"></script>

</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}