@page "/Dieukhoan"
@model KoiServiceCenter.WebApp.Pages.DieuKhoan.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">

@*<head>
    <meta charset="utf-8">
    <title>Travela - Tourism Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>*@

<body>

    @* <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    </div>
    <!-- Spinner End -->
    <!-- Topbar Start -->
    <div class="container-fluid bg-primary px-5 d-none d-lg-block">
    <div class="row gx-0">
    <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
    <div class="d-inline-flex align-items-center" style="height: 45px;">
    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i class="fab fa-youtube fw-normal"></i></a>
    </div>
    </div>
    <div class="col-lg-4 text-center text-lg-end">
    <div class="d-inline-flex align-items-center" style="height: 45px;">
    <a href="#"><small class="me-3 text-light"><i class="fa fa-user me-2"></i>Register</small></a>
    <a href="#"><small class="me-3 text-light"><i class="fa fa-sign-in-alt me-2"></i>Login</small></a>
    <div class="dropdown">
    <a href="#" class="dropdown-toggle text-light" data-bs-toggle="dropdown"><small><i class="fa fa-home me-2"></i> My Dashboard</small></a>
    <div class="dropdown-menu rounded">
    <a href="#" class="dropdown-item"><i class="fas fa-user-alt me-2"></i> My Profile</a>
    <a href="#" class="dropdown-item"><i class="fas fa-comment-alt me-2"></i> Inbox</a>
    <a href="#" class="dropdown-item"><i class="fas fa-bell me-2"></i> Notifications</a>
    <a href="#" class="dropdown-item"><i class="fas fa-cog me-2"></i> Account Settings</a>
    <a href="#" class="dropdown-item"><i class="fas fa-power-off me-2"></i> Log Out</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="" class="navbar-brand p-0">
    <h1 class="m-0"><i class="fa fa-map-marker-alt me-3"></i>Travela</h1>
    <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto py-0">
    <a href="index.html" class="nav-item nav-link">Home</a>
    <a href="about.html" class="nav-item nav-link active">About</a>
    <a href="services.html" class="nav-item nav-link">Services</a>
    <a href="packages.html" class="nav-item nav-link">Packages</a>
    <a href="blog.html" class="nav-item nav-link">Blog</a>
    <div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
    <div class="dropdown-menu m-0">
    <a href="destination.html" class="dropdown-item">Destination</a>
    <a href="tour.html" class="dropdown-item">Explore Tour</a>
    <a href="booking.html" class="dropdown-item">Travel Booking</a>
    <a href="gallery.html" class="dropdown-item">Our Gallery</a>
    <a href="guides.html" class="dropdown-item">Travel Guides</a>
    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
    <a href="404.html" class="dropdown-item">404 Page</a>
    </div>
    </div>
    <a href="contact.html" class="nav-item nav-link">Contact</a>
    </div>
    <a href="" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">Book Now</a>
    </div>
    </nav>
    </div>
    <!-- Navbar & Hero End -->*@

    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h1 class="text-white display-3 mb-4">
                ĐIỀU KHOẢN
            </h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active text-white">Điều khoản</li>
            </ol>
        </div>
    </div>
    <!-- Header End -->
    <!-- Điều khoản Start-->
    <div class="container-fluid bg-light service py-5">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">ĐIỀU KHOẢN</h5>
                <h1 class="mb-0">Điều khoản sử dụng</h1>
            </div>
            <style>
                .blue-box {
                    background: linear-gradient(to bottom, #42a5f5, #1976d2);
                    color: white;
                    padding: 20px;
                    border-radius: 10px;
                    max-width: 90%;
                    margin: 0 auto;
                    font-family: Arial, sans-serif;
                }

                    .blue-box h1 {
                        color: white;
                        font-size: 1.5em;
                        margin-bottom: 10px;
                    }

                    .blue-box p {
                        line-height: 1.6;
                    }
            </style>
            <body>
                <div class="blue-box">
                    <h1>Chào mừng bạn ghé thăm website chính thức của Trung Tâm Dịch Vụ Cá KOI</h1>
                    <p>Dù biết rằng bạn rất dễ bỏ qua những Điều khoản dịch vụ này, nhưng chúng tôi cần phải nêu rõ trách nhiệm của chúng tôi cũng như trách nhiệm của bạn trong quá trình bạn sử dụng các dịch vụ của trung tâm.</p>
                    <p>Khi bạn truy cập, duyệt nội dung hoặc sử dụng bất kỳ thông tin, hình ảnh nào trên trang thông tin điện tử này, rằng bạn đã đọc, hiểu và đồng ý tuân thủ các điều khoản và quy định của chúng tôi. Nếu bạn không đồng ý với những quy định này, vui lòng không tiếp tục sử dụng trang thông tin điện tử này.</p>
                    <p>Trung Tâm Dịch Vụ Cá KOI cam kết bảo đảm tính hợp pháp của thông tin được cung cấp trên trang web cho người sử dụng. Mọi thông tin, hình ảnh và nội dung khác được đăng tải trên trang web tuân thủ đúng luật pháp.</p>
                    <p>Rất cảm ơn bạn đã thông cảm và tuân thủ quy định của chúng tôi.</p>
                </div>
            </body>
        </div>
    </div>
    <!-- Điều khoản End-->
    <!-- thông tin start -->
    <div class="container-fluid guide py-3" style="background-color:#F8F2F2;">
        <h4 class="richtext-terms-of-use-statement-heading" style="font-weight: bold; color: black;">BẢN QUYỀN</h4>

        <div class="richtext-terms-of-use-statement-body" style="color: black;">
            Mọi nội dung trên Trang web, bao gồm văn bản, hình ảnh, đồ họa, biểu trưng và thông tin khác, là tài sản sở hữu của Trung Tâm Dịch Vụ Cá Koi và được bảo vệ bởi luật pháp về bản quyền. Chúng tôi đặt ra nguyên tắc rằng việc sao chép, sử dụng lại hoặc phân phối bất kỳ nội dung nào từ trang web của chúng tôi đều cần có sự đồng ý bằng văn bản từ phía chúng tôi.
        </div>
        <br />
        <h4 class="richtext-terms-of-use-statement-heading" style="font-weight: bold; color: black;">CHÍNH SÁCH BẢO MẬT</h4>

        <div class="richtext-terms-of-use-statement-body" style="color: black;">
            Trung tâm Dịch vụ Cá Koi cam kết bảo vệ quyền riêng tư và bảo mật thông tin cá nhân của bạn theo Chính sách Bảo mật của chúng tôi. Vui lòng đọc kỹ Chính sách Bảo mật để hiểu rõ hơn về cách chúng tôi thu thập và xử lý thông tin của bạn.
        </div>
        <br />
        <h4 class="richtext-terms-of-use-statement-heading" style="font-weight: bold; color: black;">ĐIỀU KHOẢN CHUNG</h4>

        <div class="richtext-terms-of-use-statement-body" style="color: black;">
            Các bên có nghĩa vụ thực hiện nghiêm túc các điều khoản đã thỏa thuận. Người dùng cam kết tuân thủ tất cả các quy định về quyền sở hữu trí tuệ, bảo mật thông tin, và các quyền và nghĩa vụ khác khi sử dụng Trang web.
        </div>
        <br />
    </div>
    <!-- thông tin end -->
    <!-- Copyright Start -->
    <div class="container-fluid copyright text-body py-4">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-md-6 text-center text-md-end mb-md-0">
                    <i class="fas fa-copyright me-2"></i><a class="text-white" href="#">Your Site Name</a>, All right reserved.
                </div>
                <div class="col-md-6 text-center text-md-start">
                    <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                    <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                    <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                    Designed By <a class="text-white" href="https://htmlcodex.com">HTML Codex</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>


    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
