@page "/dich-vu"
@model KoiServiceCenter.WebApp.Pages.Services.IndexModel
@{
}


<!-- header start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">
            KOI SERVICES</h3>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active text-white">Dịch vụ</li>
        </ol>
    </div>
</div>
<!-- header end -->


<!-- Services Start -->
<div class="container-fluid service py-3">
    <div class="container-fluid packages py-3">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3"><strong>DỊCH VỤ</strong></h5>
                <h1 class="mb-0"><strong>Dịch Vụ Chăm Sóc Cá Koi</strong></h1>
            </div>
            <div class="packages-carousel owl-carousel">
                <div class="packages-item">
                    <div class="packages-img">
                        <img src="img/cakoi.webp" class="img-fluid w-100 rounded-top" alt="Image">
                        <div class="packages-price py-2 px-4">0đ</div>
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">Đặt lịch tư vấn</h5>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p class="mb-4">
                                Nhận tư vấn miễn phí từ chuyên gia hàng đầu. Chúng tôi sẽ giúp bạn tìm ra
                                giải pháp tối ưu cho mọi vấn đề.
                            </p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="row bg-primary rounded-bottom mx-0">
                                <div class="text-center px-0">
                                    <a href="/dich-vu/tu-van-truc-tuyen" class="btn-hover btn text-white py-2 px-4">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="packages-item">
                    <div class="packages-img">
                        <img src="img/hocakoi.webp" class="img-fluid w-100 rounded-top" alt="Image">
                        <div class="packages-price py-2 px-4">499.000đ</div>
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">Đặt lịch chăm sóc hồ Cá</h5>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p class="mb-4">
                                Hồ cá của bạn sẽ trở nên trong vắt và sinh động hơn bao giờ hết với dịch vụ
                                chăm sóc chuyên nghiệp của chúng tôi.
                            </p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="text-center px-0">
                                <a href="/dich-vu/danh-gia-tu-van-ho-ca" class="btn-hover btn text-white py-2 px-4">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="packages-item">
                    <div class="packages-img">
                        <img src="img/dieutrica.webp" class="img-fluid w-100 rounded-top" alt="Image">

                        <div class="packages-price py-2 px-4">549.000đ</div>
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">Đặt lịch điều trị</h5>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p class="mb-4">
                                Chúng tôi sẽ giúp
                                bạn tìm ra giải pháp điều trị bệnh tối ưu và hiệu quả với chi phí hợp lý cho mọi vấn
                                đề
                                của cá Koi.
                            </p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="text-center px-0">
                                <a href="/dich-vu/dieu-tri-benh-cho-ca" class="btn-hover btn text-white py-2 px-4">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

<!-- danhgia start --> 
<div class="container-fluid bg-light testimonial py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">ĐÁNH GIÁ</h5>
            <h1 class="mb-0">Đánh Giá Của Khách Hàng</h1>
        </div>
        <div class="testimonial-carousel owl-carousel">
            
            @foreach (var item in Model.Feedback)
            {
                @if (item.Rating >= 4)
                {
                    <div class="testimonial-item text-center rounded pb-4">
                        <div class="testimonial-comment bg-light rounded p-4">
                            <p class="text-center mb-5">
                                @Html.DisplayFor(modelItem => item.Comments)
                            </p>
                        </div>
                        <div class="testimonial-img p-1">
                            <img src="~/img/testimonial-1.jpg" class="img-fluid rounded-circle" alt="image">
                        </div>
                        <div style="margin-top: -35px;">
                            <h5 class="mb-0">@Html.DisplayFor(modelItem => item.Customer.FullName)</h5>
                            <p class="mb-0">@Html.DisplayFor(modelItem => item.Service.Description)</p>
                            <div class="d-flex justify-content-center">
                            
                                @for (int i = 0; i < item.Rating; i++)
                                {
                                    <i class="fas fa-star text-primary"></i>
                                }
                                @for (int? i = item.Rating; i < 5; i++)
                                {                                                             
                                    <i class="far fa-star text-muted"></i>
                                }
                            
                            </div>
                        </div>
                    </div>
                } 
            }
        </div>
    </div>
</div>
<!-- danhgia end -->
<!-- Tour Booking Start -->
<div class="container-fluid booking py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h5 class="section-booking-title pe-3">Đặt lịch</h5>
                <h1 class="text-white mb-4">Đặt Lịch Trực Tuyến</h1>
                <p class="text-white mb-4">
                    Bạn đang quan tâm đến dịch vụ chăm sóc cho cá Koi? Hãy trải nghiệm sự tiện lợi với dịch vụ đặt lịch trực tuyến của chúng tôi!
                <p class="text-white mb-4">

                    Chúng tôi cung cấp các dịch vụ chuyên nghiệp bao gồm:

                <p class="text-white mb-4">
                    👉 Kiểm tra sức khỏe cá Koi
                <p class="text-white mb-4">
                    👉  Điều trị bệnh và tư vấn chăm sóc
                <p class="text-white mb-4">
                    👉 Vệ sinh, thiết kế và bảo dưỡng hồ Koi
                <p class="text-white mb-4">
                    Với đội ngũ chuyên gia giàu kinh nghiệm, chúng tôi cam kết mang lại sự hài lòng tối đa cho bạn và những chú cá Koi yêu quý của mình.
                <p class="text-white mb-4">
                    👉 Đặt lịch ngay hôm nay để được tư vấn và chọn thời gian phù hợp nhất với bạn!
                <p class="text-white mb-4">
                    📞 Hotline: 094 288 23 24
                    🌐 Website: <a href="https://localhost:7012/" style="color: aqua">Koi Services</a>
                <p class="text-white mb-4">
                    Hân hạnh được phục vụ Quý khách! ❤️❤️❤️❤️❤️

                </p>
            </div>
            <div class="col-lg-6">
                <h1 class="text-white mb-3">Đặt dịch vụ với nhiều ưu đãi lớn</h1>
                <p class="text-white mb-4">GIẢM <span class="text-warning">50%</span> với những khách hàng lần đầu đặt dịch vụ.</p>


                <div class="col-12">
                    <a href="/dich-vu/dat-lich" class="btn btn-primary text-white w-100 py-3">ĐẶT NGAY</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tour Booking End -->