@page
@model KoiServiceCenter.WebApp.Pages.Admin.vetschedule.EditModel

<h4 class="mb-4 text-primary">Lịch làm việc của bác sĩ thú y</h4>
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="shadow-lg p-4 rounded bg-white border">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <input type="hidden" asp-for="VetSchedule.ScheduleId" />

                <div class="form-group mb-3">
                    <label asp-for="VetSchedule.VeterinarianId" class="control-label text-secondary"></label>
                    <select asp-for="VetSchedule.VeterinarianId" class="form-control bg-light" asp-items="ViewBag.VeterinarianId"></select>
                    <span asp-validation-for="VetSchedule.VeterinarianId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="VetSchedule.ScheduleDate" class="control-label text-secondary"></label>
                    <input asp-for="VetSchedule.ScheduleDate" class="form-control bg-light" type="date" readonly />
                    <span asp-validation-for="VetSchedule.ScheduleDate" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="VetSchedule.TimeSlot" class="control-label text-secondary"></label>
                    <input asp-for="VetSchedule.TimeSlot" class="form-control bg-light" type="time" />
                    <span asp-validation-for="VetSchedule.TimeSlot" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-4">
                    <a asp-page="./Index" class="btn btn-outline-secondary rounded-pill px-3 py-2 transition-link">Quay lại</a>
                    <input type="submit" value="Lưu" class="btn btn-primary rounded-pill px-4 py-2 shadow-sm transition-button" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
