@page
@model KoiServiceCenter.WebApp.Pages.Admin.vetschedule.EditModel

<h4>VetSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VetSchedule.ScheduleId" />
            <div class="form-group">
                <label asp-for="VetSchedule.VeterinarianId" class="control-label"></label>
                <select asp-for="VetSchedule.VeterinarianId" class="form-control" asp-items="ViewBag.VeterinarianId"></select>
                <span asp-validation-for="VetSchedule.VeterinarianId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetSchedule.ScheduleDate" class="control-label"></label>
                <input asp-for="VetSchedule.ScheduleDate" class="form-control" />
                <span asp-validation-for="VetSchedule.ScheduleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetSchedule.TimeSlot" class="control-label"></label>
                <input asp-for="VetSchedule.TimeSlot" class="form-control" />
                <span asp-validation-for="VetSchedule.TimeSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
