@page
@model KoiServiceCenter.WebApp.Pages.Admin.feedback.CreateModel

<h4>Feedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Feedback.FeedbackId" class="control-label"></label>
                <input asp-for="Feedback.FeedbackId" class="form-control" />
                <span asp-validation-for="Feedback.FeedbackId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.CustomerId" class="control-label"></label>
                <select asp-for="Feedback.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.ServiceId" class="control-label"></label>
                <select asp-for="Feedback.ServiceId" class ="form-control" asp-items="ViewBag.ServiceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.Rating" class="control-label"></label>
                <input asp-for="Feedback.Rating" class="form-control" />
                <span asp-validation-for="Feedback.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback.Comments" class="control-label"></label>
                <input asp-for="Feedback.Comments" class="form-control" />
                <span asp-validation-for="Feedback.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
